* {
  box-sizing: border-box;
  text-align: center;
  font-family: "Inter", sans-serif;
  color: #101828;
  font-style: normal;
}
.container {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5% 0;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#profile__img {
  width: 40%;
  border-radius: 112px;
}
#twitter {
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
}
#slack {
  display: none;
}

.links {
  width: 90%;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}
a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #101828;
  height: 100px;
  background-color: #eaecf0;
  border-radius: 8px;
  font-weight: 500;
  font-size: 25px;
  line-height: 28px;
}
.brands-pic{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
#brands{
  width: 80px;
  height: 50px;
}
#brands:hover{
  cursor: pointer;
}
.footer{
  width: 88%;
  border-top: 1px solid #667085;
}


.footer-inner{
  width: 90%;
  height: 171px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

#footer-h1{
  color: #000000;
  font-size: 30px
}
#footer-span{
  color: #E7332B;
}

#footer-p{
  color: #667085;
  font-weight: 400;
font-size: 20px;
}

.contact_page{
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact{
  margin: 0 auto;
} 

.contact_header{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: start;
  width: 100%;
  margin-bottom: 75px;
  margin-top: 100px;
  line-height: 136px;
}
#contact_heading{
  font-weight: 600;
font-size: 48px;
color: #101828;
margin: 0;

}
#contact_about{
  font-weight: 400;
font-size: 20px;
line-height: 30px;
margin: 0;
color: #475467;
}
.contact-input1{
  display: flex;
  gap: 50px;
}

.name_labels{
  display: flex;
  flex-direction: column;
  text-align: start;
  line-height: 33px;
  font-weight: 500;
font-size: 20px;
color: #344054;
margin-top: 20px ;
}

#first_name, #last_name{
  height: 50px;
  border: 1px solid #D0D5DD;
  border-radius:8px;
 text-align: start;
 padding-left: 10px;
  font-weight: 600;
font-size: 15px;
outline: none;
color: #101828;
}
.contact-input2{
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 100%;
}
#email{
  height: 50px;
  border: 1px solid #D0D5DD;
  border-radius:8px;
  text-align: start;
  font-weight: 600;
  padding-left: 10px;
font-size: 15px;
outline: none;
color: #101828;
}

#message{
  resize: none;
  height: 100px;
  border: 1px solid #D0D5DD;
  border-radius:8px;
 text-align: start;
  padding-top: 15px ;
  padding-left: 10px;
  font-weight: 600;
font-size: 15px;
color: #101828;
outline: none;
}

#checkbox_label{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  line-height: 33px;
  font-weight: 500;
font-size: 15px;
color: #475467;
margin-top: 38px ;
gap: 10px;
}

#checkbox{
  width: 26px;
  height: 19px;
  cursor: pointer;
  border: 1px solid #D0D5DD;
}

#btn__submit{
  width: 97%;
    height: 61px;
    text-align: center;
    background: #1570EF;
    border: 1px solid #1570EF;
    box-shadow: 0px 1px 2px rgb(16 24 40 / 5%);
    border-radius: 8px;
    color: #ffff;
    font-weight: 600;
    font-size: 19px;
    margin-top: 38px;
    margin-bottom: 190px ;
}

 .textarea, .email_div, .checkbox_side, .firstName, .lastName{
  width: 100%;
 }

@media only screen and (max-width: 761px){
*{
  text-align: start;
}
#twitter{
  font-size: 24px;
}
a{
  height: 87px;
  font-size: 18px;

}
.links{
  margin: 38px auto;
}
#brands {
  width: 59px;
  height: 35px;
}
.footer-inner {
  width: 100%;
    height: 171px;
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: start;
}
.footer{
  text-align: start;
}
#footer-h1{
  font-size: 20px;
}
#footer-logo{
  width: 127px;
}
#footer-p{
  font-size: 13px;
}

.contact-input1 {
  display: unset;
}
#contact_about{
  width: 99%;
  font-size: 20px;
}
.contact_header{
  width: 100%;
  margin-top: 29px;
  line-height: 91px;
  margin-bottom: 47px;
}
#contact_heading{
  width: 100%;
  font-size: 43px;
}
#first_name, #last_name, #email{
  height: 70px;
}
#message{
  height: 98px;
}
#checkbox_label{
  font-size: 15px;
  line-height: 23px;
  align-items: unset;
}
#checkbox {
  width: 23px;
  height: 22px
}
#btn__submit {
  height: 58px;
  margin-bottom: 120px;
}

} 


